[data-ui=gallery]
	box-sizing border
	position relative

	&.first
		[data-ui=gallery-nav-prev]
			opacity 0.1
			cursor default

	&.last
		[data-ui=gallery-nav-next]
			opacity 0.1
			cursor default
	
	&.animating
		[data-ui=gallery-item]
			strong
			span
				transform translateY(0)
				transition transform .2s $easeOutCubic
	
[data-ui=gallery-wrapper]
	box-sizing border
	position relative
	
[data-ui=gallery-nav-prev]
[data-ui=gallery-nav-next]
	background url('../images/btns-slider.png') no-repeat 0 50%
	position absolute
	top 50%
	width 31px
	height 31px
	text-indent -99999px
	transition opacity .5s $easeOutCubic
	opacity 1

[data-ui=gallery-nav-prev]
	left 0
	transform translate(-41px, -50%)
	
[data-ui=gallery-nav-next]
	right 0
	transform translate(41px, -50%)
	background-position 100% 50%

[data-ui=gallery-items]
	box-sizing border
	position relative
	list-style-type none
	margin 0
	padding 0
	display flex
	flex-direction row
	flex-wrap nowrap
	overflow hidden

	[data-ui=gallery-item]
		box-sizing border
		position relative
		width 33.333333%
		flex 0 0 auto
		
		a
			display block
			box-sizing border
			position relative
			margin 0 $gutter
			overflow hidden

		img
			display block
			width 100%
			margin 0
		
		strong
		span
			position absolute
			bottom 0
			width 100%
			color #fff
			padding .75em 0
			font-size 14px
			transform translateY(100%)
			transition transform .6s $easeOutCubic .7s

		strong
			background-color rgba(0, 0, 0, .5)
			text-indent 1em
		span
			text-align right
			right 1em

		a:hover
			strong
			span
				transform translateY(0)
				transition transform .3s $easeOutCubic 0s

// Tablet
[data-ui=gallery]
	+tablet()
		[data-ui=gallery-item]
			width 50%
			strong
			span
				transform translateY(0)

		&.animating
			[data-ui=gallery-item]
				strong
				span
					transform translateY(100%)

// Mobile
[data-ui=gallery]
	+mobile()
		[data-ui=gallery-item]
			margin 0
			width 100%
			a
				margin 0

		[data-ui=gallery-nav-prev]
			transform translate(0, -50%)
			
		[data-ui=gallery-nav-next]
			transform translate(0, -50%)
