// Media query mixins
mobile()
	@media (max-width: 640px)
		{block}

tablet_portrait()
	@media (max-width: 800px)
		{block}

tablet()
	@media (max-width: 1024px)
		{block}

desktop()
	@media (max-width: 1200px)
		{block}
