// Content widths
$block = 1240px

// Colors
$black = #000
$white = #fff
$grey = #212121
$blue = #708bca
$lightGrey = #ccc

// Header
$headerHeight = 60px
$headerHeightMobile = 80px

// Typography
$light = 300
$regular= 400
$bold = 700
$extraBold = 900
$roboto = 'Roboto', sans-serif
$din = 'PFDINMono', sans-serif

// Font sizes
$bodySize = 16px
$bodySizeMobile = 14px

// Gallery
$gutter = 10px
	
// Breaks
$mobile = only screen, max-width 750px
$tablet = only screen, max-width 1024px

// Cubic easing
$easeInCubic = cubic-bezier(0.550, 0.055, 0.675, 0.190)
$easeOutCubic = cubic-bezier(0.215, 0.610, 0.355, 1.000)
$easeInOutCubic  = cubic-bezier(0.645, 0.045, 0.355, 1.000)
