<div class="nav">
	<ul>
		<li class="logo">Creuna <span>Gallery</span></li>
		<li><a href="index.html">Example 1</a></li>
		<li><a href="example2.html">Example 2</a></li>
		<li><a href="//github.com/loer/cg" target="_blank">Code Repo</a></li>
	</ul>
</div>
